@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}

body {
    
}

a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

li {
    list-style-type: none;
}
img {
    max-width: 100%;
    max-height: 100%;
}
#pertama{
    background: url(./asset/images.jpg);
    width: 100%;
    height: 804px;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    position: relative;
    margin: 0 auto;
    width: 70%;
    max-width: 1200px;
    z-index: 2;
}
nav {
    display: flex;
    height: 100px;
    justify-content: space-between;

    .gambarnav {
        margin: 0;
        display: flex;
        align-items: center;

        img {
            width: 220px;
            height: 25px;
        }
        
    }
    
    ul {
        display: flex;
        align-items: center;
        
        li {
            margin: 20px;
            display: inline;
            margin: 40px 0px 40px 0px;
            
            a{
                font-size: 16px;
                font-weight: lighter;
            }
        }
    }
    li:nth-child(4) {
        margin-right: 0px;
    }   
}

.atas {
    left: 0;
    top: 0;
    position: absolute;
    background-color: #ffffff;
    opacity: 0.8;
    width: 100%;
    height: 804px;
    z-index: 1;
}
.konten {
    display: flex;
    margin: 160px auto;
    
    .kiri {
        width: 60%;

        .head{ 
             ul{
            display: flex;
            }
            a{
            font-size: 18px;
            font-weight: bold;
            }
        }
    }

    .kanan {
        margin: auto;
        display: flex;
        color: white;
        width: 40%;
        z-index: 20;
        justify-content: center;
    }
    .isikanan h1{
        justify-content: center;
        color: #A4D84F;
        
        h1{
            font-size: 46px;
        }

        p{
            text-align: justify;
            line-height: 30px;
            font-weight: lighter;
        }

    }

}

hr {
    margin-right: 10px;
    justify-content: center;
    width: 20px;
    margin-top: 10px;
    border: 1px solid black;
    background-color: black;
}

div .gambar1{
    height: 2000px;
    width: 1000px;

}
button{
    font-size: 15px;
   background: #22a4cf;
   color: white;
   border: white 3px solid;
   border-radius: 5px;
   padding: 12px 20px;
   margin-top: 10px;
   margin: 10px, 0px, 10px, 0px
}

#keempat {
    img{
        width: 100px;
        height: 100px; 
        border: 0px;
        margin: 10px;
   }
}